<div class="leftpanel">
	<a href="#"><img src="assets/img/sikshapedia.png" alt="" class="logo"></a>

	<ul class="left-nav" id="nav">
		<li class="list-group-item"><a href="#"><img src="assets/img/right.png" alt="">Dashboard </a></li>
		
		<li class="list-group-item"><a href="#"><img src="assets/img/right.png" alt="">Send Onbaording Link </a></li>
		
		<li class="list-group-item"><a href="#"><img src="assets/img/right.png" alt="">Approve Onboarding </a></li>
		
		<li class="list-group-item"><a href="#"><img src="assets/img/right.png" alt="">Mapping Employee</a></li>
		
		<li class="list-group-item"><a href="#"><img src="assets/img/right.png" alt="">Distribute Traget</a></li>

		<li class="list-group-item"><a href="#"><img src="assets/img/right.png" alt="">Incentive</a></li>
		<li class="list-group-item"><a href="#"><img src="assets/img/right.png" alt="">Salary Component </a></li>
		<li class="list-group-item"><a href="#"><img src="assets/img/right.png" alt="">Form-16</a></li>
		<li class="list-group-item"><a href="#"><img src="assets/img/right.png" alt="">PF/ESI Update</a></li>

		<li class="list-group-item"><a href="#"><img src="assets/img/right.png" alt="">Approve Leave</a></li>

		<li class="list-group-item"><a href="#"><img src="assets/img/right.png" alt="">Approve TA/Expense</a></li>

		<li class="list-group-item"><a href="#"><img src="assets/img/right.png" alt="">Generate Salary</a></li>

		<li class="list-group-item"><a href="#"><img src="assets/img/right.png" alt="">Notification to Employee</a></li>
		
		<li class="list-group-item mb-1">
			<a href="javascript:void(0)" class="text-white" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false"><img src="assets/img/right.png" alt="">
			  Reports <i class="glyphicon glyphicon-triangle-bottom" style="color:white;float:right;"></i>
			</a>
			<div class="collapse" id="dashboard-collapse" style="padding-left: 40px ;">
			  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small text-white" style="padding:5px;">
				<li style="border:0px;padding:4px;"><a href="#" class="link-white rounded"><img src="assets/img/anchor-icon.png" style="width:15px;" alt="">Calling Reports</a></li>
				<li style="border:0px;padding:4px;"><a href="#" class="link-white rounded"><img src="assets/img/anchor-icon.png" style="width:15px;" alt="">Appointment Reports</a></li>
				<li style="border:0px;padding:4px;"><a href="#" class="link-white rounded"><img src="assets/img/anchor-icon.png" style="width:15px;" alt="">Visit Report</a></li>
				<li style="border:0px;padding:4px;"><a href="#" class="link-white rounded"><img src="assets/img/anchor-icon.png" style="width:15px;" alt="">Proposal Send Report</a></li>
				<li style="border:0px;padding:4px;"><a href="#" class="link-white rounded"><img src="assets/img/anchor-icon.png" style="width:15px;" alt="">Closing Reports</a></li>
			  </ul>
			</div>
		  </li>
		  

		  <li class="list-group-item"><a href="#"><img src="assets/img/right.png" alt="">Employee </a></li>
		<li class="list-group-item"><a href="#"><img src="assets/img/right.png" alt="">Master Settings</a></li>

		
		
		<li class="list-group-item"><a href="#" ><img src="assets/img/power.png" alt="">Log Out </a>
		
	   </li>
		
		</ul>
		
		<p class="powerdPMIT">Powered by <a href="https://sikshapedia.com/" target="_blank">sikshapedia.com</a>
        </p>
	
</div>
<div class="rightpanel">

	<div class="navbar">
		<div class="container-fluid">

			<h2 class="mobileOff ass-text">Dashboard</h2>
		  <a class="navbar-brand desktopOff" href="#" ><img src="assets/img/sikshapedia.png"  alt="" class="logoMobile"></a>
		  

		

		  <div class="profileBar mobileOff">
			<div class="procon ass-text">
				<p class="">Welcome</p>
				<h4 class="my_name">
					
				</h4>
			</div>
			<div class="proImgMobile"><img src="assets/img/avatar.png" alt="" class="profileBarpro"></div>
		</div>
		<div class="menubar">
		<a class="navbar-brand desktopOff mobileOn" href="#" ><img src="assets/img/sikshapedia.png" alt="" class="logoMobile"></a>
		  <a class="btn btn-primary menu desktopOff mobileOn" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
			Menu
		  </a>
		</div> 

		  <div class="offcanvas offcanvas-start desktopOff mobileOn" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
			<div class="offcanvas-header">
			  <h5 class="offcanvas-title" id="offcanvasExampleLabel"><img src="assets/img/sikshapedia.png" alt="" class="logoMobile"></h5>
			  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
			<div class="offcanvas-body">

				<div class="profileBar">
					<div class="procon ass-text">
						<p class="">Welcome</p>
						<h4 class="my_name">
							
						</h4>
					</div>
					<div class="proImgMobile"><img src="assets/img/avatar.png" alt="" class="profileBarpro"></div>
				</div>
				
				<ul class="left-nav desktopOff mobileOn" id="mob_nav">
					<li class="list-group-item"><a href="#"><img src="assets/img/right.png" alt="">Dashboard </a></li>
		
					<li class="list-group-item"><a href="#"><img src="assets/img/right.png" alt="">Send Onbaording Link </a></li>
		
					<li class="list-group-item"><a href="#"><img src="assets/img/right.png" alt="">Approve Onboarding </a></li>
					
					<li class="list-group-item"><a href="#"><img src="assets/img/right.png" alt="">Mapping Employee</a></li>
					
					<li class="list-group-item"><a href="#"><img src="assets/img/right.png" alt="">Distribute Traget</a></li>
			
					<li class="list-group-item"><a href="#"><img src="assets/img/right.png" alt="">Incentive</a></li>
					<li class="list-group-item"><a href="#"><img src="assets/img/right.png" alt="">Salary Component </a></li>
					<li class="list-group-item"><a href="#"><img src="assets/img/right.png" alt="">Form-16</a></li>
					<li class="list-group-item"><a href="#"><img src="assets/img/right.png" alt="">PF/ESI Update</a></li>
			
					<li class="list-group-item"><a href="#"><img src="assets/img/right.png" alt="">Approve Leave</a></li>
			
					<li class="list-group-item"><a href="#"><img src="assets/img/right.png" alt="">Approve TA/Expense</a></li>
			
					<li class="list-group-item"><a href="#"><img src="assets/img/right.png" alt="">Generate Salary</a></li>
			
					<li class="list-group-item"><a href="#"><img src="assets/img/right.png" alt="">Notification to Employee</a></li>
					<li class="list-group-item mb-1">
						<a href="javascript:void(0)" class="text-white" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false"><img src="assets/img/right.png" alt="">
						Reports
						</a>
						<div class="collapse" id="dashboard-collapse" style="padding-left: 40px ;">
						<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small text-white" style="padding:5px;">
							<li style="border:0px;padding:4px;"><a href="#" class="link-white rounded"><img src="assets/img/anchor-icon.png" style="width:15px;" alt="">Calling Reports</a></li>
							<li style="border:0px;padding:4px;"><a href="#" class="link-white rounded"><img src="assets/img/anchor-icon.png" style="width:15px;" alt="">Appointment Reports</a></li>
							<li style="border:0px;padding:4px;"><a href="#" class="link-white rounded"><img src="assets/img/anchor-icon.png" style="width:15px;" alt="">Visit Report</a></li>
							<li style="border:0px;padding:4px;"><a href="#" class="link-white rounded"><img src="assets/img/anchor-icon.png" style="width:15px;" alt="">Proposal Send Report</a></li>
							<li style="border:0px;padding:4px;"><a href="#" class="link-white rounded"><img src="assets/img/anchor-icon.png" style="width:15px;" alt="">Closing Reports</a></li>
						</ul>
						</div>
					</li>

					<li class="list-group-item"><a href="#"><img src="assets/img/right.png" alt="">Employee </a></li>
					<li class="list-group-item"><a href="#"><img src="assets/img/right.png" alt="">Master Settings</a></li>

					
					<li class="list-group-item"><a href="#"><img src="assets/img/power.png" alt="">Log Out </a>
						
				   </li>
					
					
					</ul>
					
					<p class="powerdPMIT">Powered by <a href="https://sikshapedia.com/" target="_blank">sikshapedia.com</a>
        </p>
				
			</div>
		  </div>

		</div>

</div>
